
        body {
            font-family: Arial, sans-serif;
        }
        .navbar {
            margin-bottom: 30px;
        }
        .hero-section {
            background-color: rgba(255,255,255,0.5);
            text-align: center;
            padding: 100px 0;
            margin: 200px;
            border-radius: 50px;
        }
        .hero-section h1 {
            font-size: 3em;
            margin-bottom: 20px;
            color:#ff6f61;
            text-shadow: horizontal-offset vertical-offset blur-radius color;

        }
        .hero-section p {
            font-size: 1.2em;
            color: #6c757d;
        }
        .footer {
            background-color: #f1f1f175;
            text-align: center;
            padding: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
 